@import "../../style/fonts";
@import "../../style/variables";
@import "../../style/functions";

.main{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,9,121,0.9374674797058106) 35%, rgba(39,7,65,0.9093424797058105) 56%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: $height-main;
    @include padding(250, 0, 250, 0);
    &__choice-wrap{
        width: find-size(735, 100vw, $width-main);
        height: find-size(500, 100vh, $height-main);
        background-color: $black_color;
        position: relative;
        left: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @include shadow(0,0,20,20, rgb(25, 0, 36))
    }
    &__login{
        @include size(400, 100);
        font-family:OpenSans;
        font-weight: 400;
        background-color: $lightest_color;
        @include shadow(0,0,5,5,  rgb(255, 255, 255));
        @include font_size(25, 5);
        &:hover{
         cursor: pointer;
         border: 10px solid;
         border-image-slice: 1;
         border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
         background-color:  rgb(0, 0, 0);
         color:  rgb(249, 248, 250);
         @include shadow(0,0,5,5,  rgb(86, 235, 111));
        }
    }
    &__register{
        @include size(400, 100);
        font-family:OpenSans;
        font-weight: 400;
        @include font_size(25, 5);
        background-color: $lightest_color;
        @include shadow(0,0,5,5,  rgb(255, 255, 255));
        &:hover{
         cursor: pointer;
         border: 10px solid;
         border-image-slice: 1;
         border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
         background-color:  rgb(0, 0, 0);
         color:  rgb(249, 248, 250);
         @include shadow(0,0,5,5,  rgb(86, 235, 111));
        }
    }
}

