@import "../../style/fonts";
@import "../../style/variables";
@import "../../style/functions";

.newuser{
    background: $background_gradient;
    @include padding(330,0,430,0);
    display: flex;
    justify-content: center;
    align-items: center;
    &__form{
        @include size(400,200);
        background-color: $black_color;
        @include shadow(0,0,20,20, rgb(25, 0, 36));
        min-width: fit-content;
        @include padding(20,20,20,20);
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}
.form{
    &__input{
        min-width: 100%;
        @include size(100, 30);
        @include margin(20,0,20,0);
    }
    &__button{
        @include margin(10,0,0,0);
        @include size(100,30);       
        min-width: fit-content;
        background-color: $lightest_color;
        &:hover{
            cursor: pointer;
            border: 1px solid;
            background: $button_gradient;
            color:  rgb(249, 248, 250);
            @include shadow(0,0,5,5,  rgb(86, 235, 111));
        }
    }
}